html {
  background-color: #123;
}

body {
  background-color: #fed;
}

h1, h2, h3 {
  color: #345;
}

a {
  color: #123;
}

a:hover {
  color: #567;
}

.text-overlay {
  background-color: rgba(255,255,255,0.4);
}

.map-location-marker {
  fill: #E01010;
  opacity: 0.5;
}
