body, nav {
  border-radius: 1em;
}

.text-overlay {
  border-radius: 0.5em;
}

nav {
  overflow: hidden;
}

ul, ol {
  list-style-type: none;
}

ul.bullet {
  list-style-type: disc;
}

ol.numbered {
  list-style-type: decimal;
}

a {
  text-decoration: none;
  outline-style: none;
}

img {
  border: none;
}
