body {
  margin: 3em auto;
  padding: 3em 5em;
  max-width: 42em;
}

h1 {
  max-width: 12em;
}

h2, h3 {
  max-width: 24em;
}

h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3,
p,
ul.bullet > li,
ol.numbered > li {
  margin: 1em 0;
}

ul.bullet > li {
  margin-left: 1.5em;
}

header {
  margin-bottom: 2em;
}

nav {
  margin-top: 2em;
}

img {
  max-width: 100%;
  height: 100%;
}

.nav-item,
img.nav-thumbnail {
  display: inline-block;
  max-width: 14em;
}

.layer-box {
  position: relative;
}

.layer {
  position: absolute;
}

.nav-layer {
  left: 0.5em;
  right: 0.5em;
  bottom: 1em;
}

.text-overlay {
  padding: 0.5em;
}

.map-box {
  width: 600px;
  height: 503px;
}

.map-layer {
  overflow: visible;
}

.hero-box {
  display: block;
  margin: 2em 0;
}
