body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3 {
  font-family: Garamond, Georgia, serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

code, pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 16px;
}

a {
  font-weight: bold;
}

address {
  font-style: normal;
}
